@use '../utils/mixin' as mix;

.division_sections {
   @include mix.flex-column(start,center,0);
  width: 100%;

  @media (max-width:992px){

}
  
  @media (max-width:768px){
}
  

   @media (max-width:468px){
    
   }
    }