@use "../utils/mixin" as mix;
@use "../utils/variables" as vars;

.photos {
  height: auto;
}
.publications_options {
  @include mix.flex-row(space-evenly, center, 1em);
  width: 100%;
  height: 30px;
  padding: 0;
  background: vars.$primary-color;
  img {
    width: 30px;
    height: 30px;
  }
}

.photos {
  @include mix.flex-column(start, center, 1em);
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.publications {
  @include mix.grid(3, 3, 0.1em);
  width: 100%;
  height: auto;

  img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .publications {
    @include mix.grid(3, 3, 0.1em);
    width: 80%;
    height: auto;
  }
}
