@use "../utils/variables" as vars;
@use "../utils/mixin" as mix;

.sb_bottom {
  @include mix.flex-row(center, center, 1em);
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0;
  background: vars.$primary-color;

  .option_bottoms {
    @include mix.flex-row(start, center, 1em);

   
    a {
      @include mix.flex-row(center, center, .1em);
      text-decoration: none;
      padding: 0.5em;
      color: vars.$secondary-color;
      width: 100%;
      height: 50px;
      border-radius: 10px;
      transition: 0.1s;

      a:hover {
      background: vars.$forty-color;
      color: vars.$secondary-color;
      transition: 0.3s;
    }
     p{
        display: none;
    }

       .prof_img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    }
   

    
  }
}
@media (min-width: 992px) {
    .sb_bottom{
        display: none;
    }
}
@media (min-width: 768px) {
    .sb_bottom{
        display: none;
    }
}

@media (min-width: 468px) {
    .sb_bottom{
        display: none;
    }
}