@use "../utils/variables" as vars;
@use "../utils/mixin" as mix;

.sidebar {
  @include mix.flex-row(start, start, 1em);
  padding: 1em;
  height: 95vh;
  background: vars.$primary-color;
  border-right: 0.8px solid vars.$forty-color;
  position: sticky;
  top: 0;

  .instagram_img {
    width: 80px;
    margin-left: 10px;
  }
 

  .options_sidebar {
    @include mix.flex-column(center, center, 1rem);
    width: 100%;

    font-size: 18px;
    white-space: nowrap;
  
     .sb_img {
    height: 30px;
    width: 30px;
  }

  a {
    @include mix.flex-row(start, center, 1em);
    text-decoration: none;
    padding: 0.5em;
    color: vars.$secondary-color;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    transition: 0.1s;
  }

  a:hover {
    background: vars.$forty-color;
    color: vars.$secondary-color;
    transition: 0.3s;
  }

  .profile_img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
   }
}
// media queries

// pc
@media only screen and (min-width: 992px){
  .sidebar {
    display: flex;
    width: 25%;
    height: 100vh;
  }
  .options_sidebar {
    display: flex;
  }
  a {
    display: flex;
  }
  p {
    display: flex;
  }
}

// tablets
@media only screen and (max-width: 768px){
  .sidebar {
  
    width: 15%;
    height: auto;
    padding:1em;
     p {
    display: none;
  }
  .instagram_img{
    display: none;
  }
  .options_sidebar{
    padding: 1em;
  }
  }
 
}

// phone
@media only screen and (max-width: 468px) {

  .sidebar{
    display: none;
  }
   
  
} 
  

